[Unit]
Description=pipeline example
After=docker.service


[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/run/host_info.env
TimeoutStartSec=0
User=core

ExecStart=/usr/bin/bash -xc \
  '/usr/bin/docker run \
     --rm \
     --name pipeline-example \
       -e SERVICE_NAME=pipeline-example \
         vungle/pipeline-example:master \
           /bin/sh -c \
             "cd /opt/pipeline-example;\
              node app/server.js \
             " \
  '

ExecStartPost=/usr/bin/bash -xc \
  '/usr/bin/sleep 5; \
   /usr/bin/etcdctl set /vulcand/backends/pipeline-example/servers/srv00 "{\\"Id\\":\\"pipeline-example\\",\\"URL\\":\\"http://$$(docker inspect --format "{{ .NetworkSettings.IPAddress }}" pipeline-example):3000\\"}" \
  '

ExecStop=/usr/bin/docker kill pipeline-example

[X-Fleet]
MachineMetadata=section=coreos-internal
